[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.9.6"
redis = "*"
django-bootstrap-form = "==3.2.1"
django-import-export = "==0.4.5"
dateparser = "*"
pillow = "==3.3.0"
requests = "*"
prettyconf = "*"
rq = "*"
psycopg2-binary = "*"

[dev-packages]
ipython = "*"
"flake8" = "*"
rope = "*"
"fabric3" = "*"

[requires]
python_version = "3.6"
