django==3.2.24
redis
django-bootstrap-form==3.2.1
django-import-export==1.2.0
dateparser
pillow
requests
prettyconf
rq
psycopg2-binary==2.8.6
sendgrid==5.6.0
git+https://github.com/sdelquin/sgw.git
xlrd
xlwt
openpyxl
odfpy
pyyaml
markuppy
