{% extends "app/base.html" %}

{% block content %}
    <div class="row text-center">
        <div class="col-md-offset-4 col-md-4 error-block">
            <div class="error-title label label-danger">403</div>
            <img src="http://data.whicdn.com/images/30602119/tumblr_m4j71mioeX1r4zr2vo1_500_large.gif"></img>
            <div class="error-message alert alert-danger" role="alert">
                <span class="emoji">🦁</span>Prohibido el paso! Lo siento pero no puedes acceder a esta página.
            </div>
        </div>
    </div>
{% endblock content %}
