{% extends "app/base.html" %}

{% block content %}
    <div class="row text-center">
        <div class="col-md-offset-4 col-md-4 error-block">
            <div class="error-title label label-danger">404</div>
            <img src="https://media.giphy.com/media/jCg8WkGyMbqvK/giphy.gif"></img>
            <div class="error-message alert alert-danger" role="alert">
                <span class="emoji">😼</span>Creo que la página que buscas no existe! 
            </div>
        </div>
    </div>
{% endblock content %}
