{% extends "app/base.html" %}

{% block content %}
    <div class="row text-center">
        <div class="col-md-offset-4 col-md-4 error-block">
            <div class="error-title label label-danger">500</div>
            <img src="https://media.giphy.com/media/3ornjU8Cd8FW1nhG6s/giphy.gif"></img>
            <div class="error-message alert alert-danger" role="alert">
                <span class="emoji">🐶</span>Ups! Algo se rompió. Contacta con el desarrollador de la página.
            </div>
        </div>
    </div>
{% endblock content %}
