{% extends "app/base.html" %}
{% load staticfiles %}

{% block js %}
    active_section_nav = "video-section-nav";
{% endblock js %}

{% block header %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {% if selected_dancing_level_id and selected_dancing_level_id != "!" %}
                <i class="fa fa-filter"></i>
            {% endif %}
            Nivel <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {% for level in dancing_levels %}
                <li>
                    {% if level.id|stringformat:'d' == selected_dancing_level_id %}
                        <a href="/videos/filter/!/{{ selected_dancing_style_id|default:'!' }}/{{ selected_difficulty_level_id|default:'!' }}/{{ selected_order_criteria|default:'' }}{{ selected_order_key|default:'!' }}/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                    {% else %}
                        <a href="/videos/filter/{{ level.id }}/{{ selected_dancing_style_id|default:'!' }}/{{ selected_difficulty_level_id|default:'!' }}/{{ selected_order_criteria|default:'' }}{{ selected_order_key|default:'!' }}/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                    {% endif %}
                    {{ level }}
                    {% if level.id|stringformat:'d' == selected_dancing_level_id %}
                        <i class="fa fa-check"></i>
                    {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {% if selected_dancing_style_id and selected_dancing_style_id != "!" %}
                <i class="fa fa-filter"></i>
            {% endif %}
            Estilo <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {% for style in dancing_styles %}
                <li>
                    {% if style.id|stringformat:'d' == selected_dancing_style_id %}
                        <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/!/{{ selected_difficulty_level_id|default:'!' }}/{{ selected_order_criteria|default:'' }}{{ selected_order_key|default:'!' }}/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                        {{ style }}
                        <i class="fa fa-check"></i>
                        </a>
                    {% else %}
                        <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ style.id }}/{{ selected_difficulty_level_id|default:'!' }}/{{ selected_order_criteria|default:'' }}{{ selected_order_key|default:'!' }}/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                        {{ style }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {% if selected_difficulty_level_id and selected_difficulty_level_id != "!" %}
                <i class="fa fa-filter"></i>
            {% endif %}
            Dificultad <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {% for level in difficulty_levels %}
                <li>
                    {% if level.id|stringformat:'d' == selected_difficulty_level_id %}
                        <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ selected_dancing_style_id|default:'!' }}/!/{{ selected_order_criteria|default:'' }}{{ selected_order_key|default:'!' }}/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                        <i class="fa fa-square difficulty-level{{ level.level }}"></i>
                        {{ level }}
                        <i class="fa fa-check"></i>
                        </a>
                    {% else %}
                        <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ selected_dancing_style_id|default:'!' }}/{{ level.id }}/{{ selected_order_criteria|default:'' }}{{ selected_order_key|default:'!' }}/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                        <i class="fa fa-square difficulty-level{{ level.level }}"></i>
                        {{ level }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {% if selected_order_key and selected_order_key != "!" %}
                <i class="fa fa-filter"></i>
            {% endif %}
            Ordenar <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                {% if selected_order_key == "d" %}
                    <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ selected_dancing_style_id|default:'!' }}/{{ selected_difficulty_level_id|default:'!' }}/!/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                    Por fecha
                    <i class="fa fa-check"></i>
                    </a>
                {% else %}
                    <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ selected_dancing_style_id|default:'!' }}/{{ selected_difficulty_level_id|default:'!' }}/-d/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                    Por fecha
                    </a>
                {% endif %}
            </li>
            <li>
                {% if selected_order_key == "l" %}
                    <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ selected_dancing_style_id|default:'!' }}/{{ selected_difficulty_level_id|default:'!' }}/!/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                    Por "me gusta"
                    <i class="fa fa-check"></i>
                    </a>
                {% else %}
                    <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ selected_dancing_style_id|default:'!' }}/{{ selected_difficulty_level_id|default:'!' }}/-l/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                    Por "me gusta"
                    </a>
                {% endif %}
            </li>
            <li>
                {% if selected_order_key == "v" %}
                    <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ selected_dancing_style_id|default:'!' }}/{{ selected_difficulty_level_id|default:'!' }}/!/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                    Por visualizaciones
                    <i class="fa fa-check"></i>
                    </a>
                {% else %}
                    <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ selected_dancing_style_id|default:'!' }}/{{ selected_difficulty_level_id|default:'!' }}/-v/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                    Por visualizaciones
                    </a>
                {% endif %}
            </li>
            <li>
                {% if selected_order_key == "t" %}
                    <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ selected_dancing_style_id|default:'!' }}/{{ selected_difficulty_level_id|default:'!' }}/!/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                    Por duración
                    <i class="fa fa-check"></i>
                    </a>
                {% else %}
                    <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ selected_dancing_style_id|default:'!' }}/{{ selected_difficulty_level_id|default:'!' }}/-t/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                    Por duración
                    </a>
                {% endif %}
            </li>
            {% if selected_order_key and selected_order_key != "!" %}
                <li role="separator" class="divider"></li>
                <li>
                    <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ selected_dancing_style_id|default:'!' }}/{{ selected_difficulty_level_id|default:'!' }}/{{ inverted_order_criteria }}{{ selected_order_key }}/{{ selected_my_likes|default:'!' }}/{{ selected_search|default:'!' }}/">
                    <i class="fa fa-sort-amount-desc"></i>
                    Invertir orden
                    </a>
                </li>
            {% endif %}
        </ul>
    </li>

    <form id="search-form" method="get" action="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ selected_dancing_style_id|default:'!' }}/{{ selected_difficulty_level_id|default:'!' }}/{{ selected_order_criteria|default:'' }}{{ selected_order_key|default:'!' }}/{{ selected_my_likes|default:'!' }}/" class="navbar-form navbar-left" role="search">
        <div class="form-group">
            {% if selected_search %}
                <i class="fa fa-filter"></i>
            {% endif %}
            <input id="search-input" name="search" type="text" class="form-control" placeholder="Búsqueda" value="{{ selected_search|default:'' }}">
            {% if selected_search %}
                <a href="/videos/filter/{{ selected_dancing_level_id|default:'!' }}/{{ selected_dancing_style_id|default:'!' }}/{{ selected_difficulty_level_id|default:'!' }}/{{ selected_order_criteria|default:'' }}{{ selected_order_key|default:'!' }}/{{ selected_my_likes|default:'!' }}/!/"><i id="clean-search" class="fa fa-times"></i></a>
            {% endif %}
        </div>
    </form>

{% endblock header%}
