{% extends "app/base.html" %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'app/css/index.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block content %}
<div class="bgvideo-container">
    <iframe
        class="bgvideo"
        src="https://www.youtube.com/embed/{{ bgvideo_id }}?version=3&autoplay=1&loop=1&rel=0&controls=0&mute=1"
        frameborder="0"
        allowfullscreen
        volume="0">
        Your browser doesn't support iframes
    </iframe>
    <div class="fronttext-container">
        <div class="fronttext">
            <div class="title">
                <img class="logo" src="{% static 'app/images/susikiu_logo_92.png' %}"></img>
                Susikiu
            </div>
            <div class="leitmotiv">"Porque la vida es mejor bailando"</div>
            <div class="enter-link">
                <a href="/login/"><i class="fa fa-sign-in"></i> login</a>
            </div>
            <div class="metrics">
            {{ num_videos }} vídeos | {{ num_users }} usuarios
            </div>
        </div>
    </div>
</div>
{% endblock content %}
